.fees {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    float: left;
    width: 220px;
    height: 300px;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    color: rgb(61, 48, 48);
    transition: all 0.2s ease;
    cursor: pointer;
  }
  
  .fee-title {
    margin-top: 0;
    border-bottom: 1px solid rgb(59, 53, 53);
    font-size: 1.7rem;
  }
  
  .fee-price {
    font-size: 2.5rem;
  }
  
  .fee-features {
    list-style: none;
    background-color: rgb(109, 28, 28);
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
  }
  
  